<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lzscxb.business.mapper.FengProblemQueueMapper">
    
    <resultMap type="cn.lzscxb.domain.entity.FengProblemQueue" id="FengProblemQueueResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="problemId"    column="problem_id"    />
        <result property="taskId"    column="task_id"    />
        <result property="taskJoinId"    column="task_join_id"    />
        <result property="type"    column="type"    />
        <result property="code"    column="code"    />
        <result property="status"    column="status"    />
        <result property="successMsg"    column="success_msg"    />
        <result property="errorMsg"    column="error_msg"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFengProblemQueueVo">
        select id, user_id, problem_id, task_id, task_join_id, type, code, status, success_msg, error_msg, create_by, create_time, update_by, update_time from feng_problem_queue
    </sql>

    <select id="selectFengProblemQueueList" parameterType="cn.lzscxb.domain.entity.FengProblemQueue" resultMap="FengProblemQueueResult">
        <include refid="selectFengProblemQueueVo"/>
        <where>  
            <if test="userId != null "> and user_id like concat('%', #{userId}, '%')</if>
            <if test="problemId != null "> and problem_id = #{problemId}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectFengProblemQueueById" parameterType="Long" resultMap="FengProblemQueueResult">
        <include refid="selectFengProblemQueueVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFengProblemQueue" parameterType="cn.lzscxb.domain.entity.FengProblemQueue">
        insert into feng_problem_queue
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="problemId != null">problem_id,</if>
            <if test="taskId != null">task_id,</if>
            <if test="taskJoinId != null">task_join_id,</if>
            <if test="type != null">type,</if>
            <if test="code != null and code != ''">code,</if>
            <if test="status != null">status,</if>
            <if test="successMsg != null and successMsg != ''">success_msg,</if>
            <if test="errorMsg != null and errorMsg != ''">error_msg,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="problemId != null">#{problemId},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="taskJoinId != null">#{taskJoinId},</if>
            <if test="type != null">#{type},</if>
            <if test="code != null and code != ''">#{code},</if>
            <if test="status != null">#{status},</if>
            <if test="successMsg != null and successMsg != ''">#{successMsg},</if>
            <if test="errorMsg != null and errorMsg != ''">#{errorMsg},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFengProblemQueue" parameterType="cn.lzscxb.domain.entity.FengProblemQueue">
        update feng_problem_queue
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="problemId != null">problem_id = #{problemId},</if>
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="taskJoinId != null">task_join_id = #{taskJoinId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="status != null">status = #{status},</if>
            <if test="successMsg != null and successMsg != ''">success_msg = #{successMsg},</if>
            <if test="errorMsg != null and errorMsg != ''">error_msg = #{errorMsg},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFengProblemQueueById" parameterType="Long">
        delete from feng_problem_queue where id = #{id}
    </delete>

    <delete id="deleteFengProblemQueueByIds" parameterType="String">
        delete from feng_problem_queue where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>