<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lzscxb.business.mapper.FengTaskProblemMapper">
    
    <resultMap type="cn.lzscxb.domain.entity.FengTaskProblem" id="FengTaskProblemResult">
        <result property="id"    column="id"    />
        <result property="taskId"    column="task_id"    />
        <result property="problemId"    column="problem_id"    />
        <result property="problemTitle"    column="problem_title"    />
        <result property="soft"    column="soft"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFengTaskProblemVo">
        select tp.id, tp.task_id, tp.problem_id, tp.soft, tp.create_by, tp.create_time, tp.update_by, tp.update_time,
            fp.title as problem_title
        from feng_task_problem as tp
        left join feng_problem fp on fp.id = tp.problem_id
    </sql>

    <select id="selectFengTaskProblemList" parameterType="cn.lzscxb.domain.entity.FengTaskProblem" resultMap="FengTaskProblemResult">
        <include refid="selectFengTaskProblemVo"/>
        <where>  
            <if test="problemId != null  and problemId != ''"> and tp.problem_id = #{problemId}</if>
            <if test="problemTitle != null  and problemTitle != ''"> and fp.title like concat('%', #{problemTitle}, '%')</if>
            <if test="taskId != null  and taskId != ''"> and tp.task_id = #{taskId}</if>
            <if test="soft != null "> and tp.soft = #{soft}</if>
        </where>
    </select>
    
    <select id="selectFengTaskProblemById" parameterType="Long" resultMap="FengTaskProblemResult">
        <include refid="selectFengTaskProblemVo"/>
        where tp.id = #{id}
    </select>
        
    <insert id="insertFengTaskProblem" parameterType="cn.lzscxb.domain.entity.FengTaskProblem">
        insert into feng_task_problem
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="taskId != null and taskId != ''">task_id,</if>
            <if test="problemId != null and problemId != ''">problem_id,</if>
            <if test="soft != null">soft,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="taskId != null and taskId != ''">#{taskId},</if>
            <if test="problemId != null and problemId != ''">#{problemId},</if>
            <if test="soft != null">#{soft},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFengTaskProblem" parameterType="cn.lzscxb.domain.entity.FengTaskProblem">
        update feng_task_problem
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskId != null and taskId != ''">task_id = #{taskId},</if>
            <if test="problemId != null and problemId != ''">problem_id = #{problemId},</if>
            <if test="soft != null">soft = #{soft},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFengTaskProblemById" parameterType="Long">
        delete from feng_task_problem where id = #{id}
    </delete>

    <delete id="deleteFengTaskProblemByIds" parameterType="String">
        delete from feng_task_problem where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="batchFengTaskProblem">
        insert into feng_task_problem(task_id, problem_id, create_time) value
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.taskId}, #{item.problemId}, #{item.createTime})
        </foreach>
    </insert>
</mapper>