<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lzscxb.business.mapper.FengProblemCommentMapper">

    <resultMap type="cn.lzscxb.domain.entity.FengProblemComment" id="FengProblemCommentResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="pid"    column="pid"    />
        <result property="replyUserId"    column="reply_user_id"    />
        <result property="problemId"    column="problem_id"    />
        <result property="content"    column="content"    />
        <result property="likeCount"    column="like_count"    />
        <result property="trampleCount"    column="trample_count"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFengProblemCommentVo">
        select id, user_id, pid, reply_user_id, problem_id, content, like_count, trample_count, create_by, create_time, update_by, update_time from feng_problem_comment
    </sql>

    <select id="selectFengProblemCommentList" parameterType="cn.lzscxb.domain.entity.FengProblemComment" resultMap="FengProblemCommentResult">
        <include refid="selectFengProblemCommentVo"/>
        <where>
            <if test="content != null  and content != ''"> and content like concat('%', #{content}, '%')</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
        </where>
    </select>

    <select id="selectFengProblemCommentById" parameterType="Long" resultMap="FengProblemCommentResult">
        <include refid="selectFengProblemCommentVo"/>
        where id = #{id}
    </select>

    <insert id="insertFengProblemComment" parameterType="cn.lzscxb.domain.entity.FengProblemComment">
        insert into feng_problem_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="pid != null">pid,</if>
            <if test="replyUserId != null">reply_user_id,</if>
            <if test="problemId != null">problem_id,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="likeCount != null">like_count,</if>
            <if test="trampleCount != null">trample_count,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="pid != null">#{pid},</if>
            <if test="replyUserId != null">#{replyUserId},</if>
            <if test="problemId != null">#{problemId},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="likeCount != null">#{likeCount},</if>
            <if test="trampleCount != null">#{trampleCount},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateFengProblemComment" parameterType="cn.lzscxb.domain.entity.FengProblemComment">
        update feng_problem_comment
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="pid != null">pid = #{pid},</if>
            <if test="replyUserId != null">reply_user_id = #{replyUserId},</if>
            <if test="problemId != null">problem_id = #{problemId},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="likeCount != null">like_count = #{likeCount},</if>
            <if test="trampleCount != null">trample_count = #{trampleCount},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFengProblemCommentById" parameterType="Long">
        delete from feng_problem_comment where id = #{id}
    </delete>

    <delete id="deleteFengProblemCommentByIds" parameterType="String">
        delete from feng_problem_comment where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>