<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lzscxb.business.mapper.FengProblemTagsMapper">
    
    <resultMap type="cn.lzscxb.domain.entity.FengProblemTags" id="FengProblemTagsResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFengProblemTagsVo">
        select id, title, create_by, create_time, update_by, update_time from feng_problem_tags
    </sql>

    <select id="selectFengProblemTagsList" parameterType="cn.lzscxb.domain.entity.FengProblemTags" resultMap="FengProblemTagsResult">
        <include refid="selectFengProblemTagsVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
        </where>
    </select>
    
    <select id="selectFengProblemTagsById" parameterType="Long" resultMap="FengProblemTagsResult">
        <include refid="selectFengProblemTagsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFengProblemTags" parameterType="cn.lzscxb.domain.entity.FengProblemTags">
        insert into feng_problem_tags
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFengProblemTags" parameterType="cn.lzscxb.domain.entity.FengProblemTags">
        update feng_problem_tags
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFengProblemTagsById" parameterType="Long">
        delete from feng_problem_tags where id = #{id}
    </delete>

    <delete id="deleteFengProblemTagsByIds" parameterType="String">
        delete from feng_problem_tags where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>