<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lzscxb.business.mapper.FengCollegeMapper">
    
    <resultMap type="cn.lzscxb.domain.entity.FengCollege" id="FengCollegeResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFengCollegeVo">
        select id, name, create_by, create_time, update_by, update_time from feng_college
    </sql>

    <select id="selectFengCollegeList" parameterType="cn.lzscxb.domain.entity.FengCollege" resultMap="FengCollegeResult">
        <include refid="selectFengCollegeVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>

    <select id="seletcFengCollegeAllList" resultMap="FengCollegeResult">
        <include refid="selectFengCollegeVo" />
    </select>

    <select id="selectFengCollegeById" parameterType="Long" resultMap="FengCollegeResult">
        <include refid="selectFengCollegeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFengCollege" parameterType="cn.lzscxb.domain.entity.FengCollege" useGeneratedKeys="true" keyProperty="id">
        insert into feng_college
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFengCollege" parameterType="cn.lzscxb.domain.entity.FengCollege">
        update feng_college
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFengCollegeById" parameterType="Long">
        delete from feng_college where id = #{id}
    </delete>

    <delete id="deleteFengCollegeByIds" parameterType="String">
        delete from feng_college where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>