<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lzscxb.business.mapper.FengProblemQueueMapper">
    
    <resultMap type="cn.lzscxb.domain.entity.FengProblemQueue" id="FengProblemQueueResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="nickname"    column="nick_name"    />
        <result property="problemId"    column="problem_id"    />
        <result property="title"    column="title"    />
        <result property="taskId"    column="task_id"    />
        <result property="everydayId"    column="everyday_id"    />
        <result property="taskJoinId"    column="task_join_id"    />
        <result property="type"    column="type"    />
        <result property="code"    column="code"    />
        <result property="status"    column="status"    />
        <result property="retryCount"    column="retry_count"    />
        <result property="successMsg"    column="success_msg"    />
        <result property="errorMsg"    column="error_msg"    />
        <result property="totalCount"    column="total_count"    />
        <result property="successCount"    column="success_count"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFengProblemQueueVo">
        select q.id, q.user_id, q.problem_id, q.task_id, q.task_join_id, q.everyday_id, q.type, q.code, q.status, q.success_msg, q.error_msg, q.create_by, q.create_time, q.update_by, q.update_time, q.retry_count,
            fp.title, u.nick_name
        from feng_problem_queue as q
        left join feng_problem fp on q.problem_id = fp.id
        left join feng_users u on q.user_id = u.user_id

    </sql>


    <select id="selectFengProblemRankList" resultMap="FengProblemQueueResult">
        SELECT *
        from (SELECT @cur_rank := 0) as r,
             (select q.id,
                     q.user_id,
                     q.problem_id,
                     q.task_id,
                     q.task_join_id,
                     q.type,
                     q.code,
                     q.status,
                     q.success_msg,
                     q.error_msg,
                     q.create_by,
                     q.create_time,
                     q.update_by,
                     q.update_time,
                     q.retry_count,
                     fu.nick_name,
                     COUNT(1)                         as total_count,
                     COUNT(if(q.status = 2, 1, null)) as success_count
              from feng_problem_queue as q
                       left join feng_users fu on fu.user_id = q.user_id
              group by q.user_id) as q
        order by q.total_count desc
    </select>

    <select id="selectFengProblemQueueList" parameterType="cn.lzscxb.domain.entity.FengProblemQueue" resultMap="FengProblemQueueResult">
        <include refid="selectFengProblemQueueVo"/>
        <where>  
            <if test="nickname != null "> and u.nick_name like concat('%', #{nickname}, '%')</if>
            <if test="type != null and type != -1 "> and q.type = #{type}</if>
            <if test="status != null "> and q.status = #{status}</if>
            <if test="title != null "> and fp.title like concat('%', #{title}, '%')</if>
        </where>
        order by q.create_time desc
    </select>

    <select id="selectSubmitList" resultMap="FengProblemQueueResult">
        <include refid="selectFengProblemQueueVo"/>
        where q.user_id = #{userId}
        and q.problem_id = #{problemId}
        <if test="type != null and type != -1 "> and q.type = #{type}</if>
        <if test="status != null "> and q.status = #{status}</if>
        <if test="taskId != null "> and task_id = #{taskId}</if>
        <if test="everydayId != null "> and everyday_id = #{everydayId}</if>
        order by q.create_time desc
    </select>

    <select id="selectFengProblemQueueById" parameterType="Long" resultMap="FengProblemQueueResult">
        <include refid="selectFengProblemQueueVo"/>
        where q.id = #{id}
    </select>

    <!-- 查询当前用户的题目所有状态 -->
    <select id="selectProblemQuqueStatusList"  resultType="java.lang.Integer">
        select DISTINCT status from feng_problem_queue
        where problem_id = #{problemId}
        and user_id = #{userId}
        <if test="taskId != null "> and task_id = #{taskId}</if>
        <if test="everydayId != null "> and everyday_id = #{everydayId}</if>
    </select>
        
    <insert id="insertFengProblemQueue" useGeneratedKeys="true" keyProperty="id" parameterType="cn.lzscxb.domain.entity.FengProblemQueue">
        insert into feng_problem_queue
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="problemId != null">problem_id,</if>
            <if test="taskId != null">task_id,</if>
            <if test="everydayId != null">everyday_id,</if>
            <if test="taskJoinId != null">task_join_id,</if>
            <if test="type != null">type,</if>
            <if test="code != null and code != ''">code,</if>
            <if test="status != null">status,</if>
            <if test="retryCount != null">retry_count,</if>
            <if test="successMsg != null and successMsg != ''">success_msg,</if>
            <if test="errorMsg != null and errorMsg != ''">error_msg,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="problemId != null">#{problemId},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="everydayId != null">#{everydayId},</if>
            <if test="taskJoinId != null">#{taskJoinId},</if>
            <if test="type != null">#{type},</if>
            <if test="code != null and code != ''">#{code},</if>
            <if test="status != null">#{status},</if>
            <if test="retryCount != null">#{retryCount},</if>
            <if test="successMsg != null and successMsg != ''">#{successMsg},</if>
            <if test="errorMsg != null and errorMsg != ''">#{errorMsg},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFengProblemQueue" parameterType="cn.lzscxb.domain.entity.FengProblemQueue">
        update feng_problem_queue
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="problemId != null">problem_id = #{problemId},</if>
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="everydayId != null">everyday_id = #{everydayId},</if>
            <if test="taskJoinId != null">task_join_id = #{taskJoinId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="status != null">status = #{status},</if>
            <if test="retryCount != null">retry_count = #{retryCount},</if>
            <if test="successMsg != null and successMsg != ''">success_msg = #{successMsg},</if>
            <if test="errorMsg != null and errorMsg != ''">error_msg = #{errorMsg},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFengProblemQueueById" parameterType="Long">
        delete from feng_problem_queue where id = #{id}
    </delete>

    <delete id="deleteFengProblemQueueByIds" parameterType="String">
        delete from feng_problem_queue where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>