<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lzscxb.business.mapper.FengTaskJoinMapper">
    
    <resultMap type="cn.lzscxb.domain.entity.FengTaskJoin" id="FengTaskJoinResult">
        <result property="id"    column="id"    />
        <result property="classId"    column="class_id"    />
        <result property="userId"    column="user_id"    />
        <result property="nickName"    column="nick_name"    />
        <result property="className"    column="class_name"    />
        <result property="taskId"    column="task_id"    />
        <result property="status"    column="status"    />
        <result property="correctCount"    column="correct_count"    />
        <result property="score"    column="score"    />
        <result property="endTime"    column="end_time"    />
        <result property="submitTime"    column="submit_time"    />
        <result property="checkTime"    column="check_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFengTaskJoinVo">
        select tj.id, tj.class_id, tj.user_id, tj.task_id, tj.status, tj.correct_count, tj.score, tj.end_time, tj.submit_time, tj.check_time, tj.create_by, tj.create_time, tj.update_by, tj.update_time,
            u.nick_name, fc.name as class_name
        from feng_task_join as tj
        left join feng_users u on tj.user_id = u.user_id
        left join feng_class fc on tj.class_id = fc.id
    </sql>

    <select id="selectFengTaskJoinList" parameterType="cn.lzscxb.domain.entity.FengTaskJoin" resultMap="FengTaskJoinResult">
        <include refid="selectFengTaskJoinVo"/>
        <where>  
            <if test="taskId != null "> and task_id = #{taskId}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="checkTime != null "> and check_time = #{checkTime}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectFengTaskJoinById" parameterType="Long" resultMap="FengTaskJoinResult">
        <include refid="selectFengTaskJoinVo"/>
        where tj.id = #{id}
    </select>

    <select id="selectFengTaskJoinByTaskId" parameterType="cn.lzscxb.domain.entity.FengTaskJoin" resultMap="FengTaskJoinResult">
        select id, class_id, user_id, task_id, status, correct_count, score, end_time, submit_time, check_time, create_by, create_time, update_by, update_time from feng_task_join
        where task_id = #{taskId} and user_id = #{userId}
    </select>

    <insert id="batchInsertTaskJoin">
        insert into feng_task_join (class_id, user_id, task_id, create_time, end_time, create_by) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.classId}, #{item.userId}, #{item.taskId}, #{item.createTime}, #{item.endTime}, #{item.createBy})
        </foreach>
    </insert>
        
    <insert id="insertFengTaskJoin" parameterType="cn.lzscxb.domain.entity.FengTaskJoin">
        insert into feng_task_join
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="classId != null">class_id,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="taskId != null">task_id,</if>
            <if test="status != null">status,</if>
            <if test="correctCount != null">correct_count,</if>
            <if test="score != null">score,</if>
            <if test="endTime != null">end_time,</if>
            <if test="submitTime != null">submit_time,</if>
            <if test="checkTime != null">check_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="classId != null">#{classId},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="status != null">#{status},</if>
            <if test="correctCount != null">#{correctCount},</if>
            <if test="score != null">#{score},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="submitTime != null">#{submitTime},</if>
            <if test="checkTime != null">#{checkTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFengTaskJoin" parameterType="cn.lzscxb.domain.entity.FengTaskJoin">
        update feng_task_join
        <trim prefix="SET" suffixOverrides=",">
            <if test="classId != null">class_id = #{classId},</if>
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="correctCount != null">correct_count = #{correctCount},</if>
            <if test="score != null">score = #{score},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="submitTime != null">submit_time = #{submitTime},</if>
            <if test="checkTime != null">check_time = #{checkTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFengTaskJoinById" parameterType="Long">
        delete from feng_task_join where id = #{id}
    </delete>

    <delete id="deleteFengTaskJoinByIds" parameterType="String">
        delete from feng_task_join where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


</mapper>