<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lzscxb.business.mapper.FengProblemMapper">
    
    <resultMap type="cn.lzscxb.domain.entity.FengProblem" id="FengProblemResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="userId"    column="user_id"    />
        <result property="nickName"    column="nick_name"    />
        <result property="level"    column="level"    />
        <result property="giveCount"    column="give_count"    />
        <result property="isGive"    column="is_give"    />
        <result property="description"    column="description"    />
        <result property="categoryId"    column="category_id"    />
        <result property="categoryName"    column="category_name"    />
        <result property="tagId"    column="tag_id"    />
        <result property="tagName"    column="tag_name"    />
        <result property="hint"    column="hint"    />
        <result property="submitCount"    column="submit_count"    />
        <result property="sort"    column="sort"    />
        <result property="isAuto"    column="is_auto"    />
        <result property="successCount"    column="success_count"    />
        <result property="language"    column="language"    />
        <result property="methodNames"    column="method_names"    />
        <result property="paramTypes"    column="param_types"    />
        <result property="codeTemplates"    column="code_templates"    />
        <result property="testCase"    column="test_case"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFengProblemVo">
        select p.id, p.title, p.user_id, p.level, p.description, p.category_id, p.tag_id, p.hint, p.submit_count,
               p.sort, p.is_auto, p.success_count, p.language, p.method_names, p.param_types, p.code_templates, p.test_case,
               p.create_by, p.create_time, p.update_by, p.update_time, u.nick_name, c.title as category_name, tag.title as tag_name
        from feng_problem as p
        left join feng_users u on u.user_id = p.user_id
        left join feng_problem_category c on p.category_id = c.id
        left join feng_problem_tags tag on tag.id = p.tag_id
    </sql>

    <select id="selectFengProblemList" parameterType="cn.lzscxb.domain.entity.FengProblem" resultMap="FengProblemResult">
        <include refid="selectFengProblemVo"/>
        <where>  
            <if test="title != null  and title != ''"> and p.title like concat('%', #{title}, '%')</if>
            <if test="level != null "> and p.level = #{level}</if>
            <if test="categoryId != null "> and p.category_id = #{categoryId}</if>
            <if test="tagId != null "> and p.tag_id = #{tagId}</if>
            <if test="isAuto != null "> and p.is_auto = #{isAuto}</if>
            <if test="language != null  and language != ''"> and p.language = #{language}</if>
            <if test="createTime != null "> and p.create_time = #{createTime}</if>
            <if test="taskId != null ">
                and p.id not in (select DISTINCT problem_id from feng_task_problem where task_id = #{taskId})
            </if>
        </where>
    </select>

    <select id="selectFengProblemTaskList" parameterType="cn.lzscxb.domain.entity.FengProblem" resultMap="FengProblemResult">
        <include refid="selectFengProblemVo"/>
        <where>
            <if test="title != null  and title != ''"> and p.title like concat('%', #{title}, '%')</if>
            <if test="level != null "> and p.level = #{level}</if>
            <if test="categoryId != null "> and p.category_id = #{categoryId}</if>
            <if test="tagId != null "> and p.tag_id = #{tagId}</if>
            <if test="isAuto != null "> and p.is_auto = #{isAuto}</if>
            <if test="language != null  and language != ''"> and p.language = #{language}</if>
            <if test="createTime != null "> and p.create_time = #{createTime}</if>
            <if test="taskId != null ">
                and p.id in (select problem_id from feng_task_problem where task_id = #{taskId})
            </if>
        </where>
    </select>

    <select id="selectFengProblemById" parameterType="Long" resultMap="FengProblemResult">
        <include refid="selectFengProblemVo"/>
        where p.id = #{id}
    </select>

    <select id="selectFengProblem" resultMap="FengProblemResult">
        select p.id, p.title, p.user_id, p.level, p.description, p.category_id, p.tag_id, p.hint, p.submit_count,
        p.sort, p.is_auto, p.success_count, p.language, p.method_names, p.param_types, p.code_templates, p.test_case,
        p.create_by, p.create_time, p.update_by, p.update_time, u.nick_name, c.title as category_name, tag.title as tag_name,
        (
            select count(1) from feng_give where problem_id = p.id and comment_id = 0
        ) as give_count,
        (
            select count(1) from feng_give where problem_id = p.id and user_id = #{userId} and comment_id = 0
        ) as is_give
        from feng_problem as p
        left join feng_users u on u.user_id = p.user_id
        left join feng_problem_category c on p.category_id = c.id
        left join feng_problem_tags tag on tag.id = p.tag_id
        where p.id = #{id}
    </select>
        
    <insert id="insertFengProblem" parameterType="cn.lzscxb.domain.entity.FengProblem">
        insert into feng_problem
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="userId != null">user_id,</if>
            <if test="level != null">level,</if>
            <if test="description != null">description,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="tagId != null">tag_id,</if>
            <if test="hint != null">hint,</if>
            <if test="submitCount != null">submit_count,</if>
            <if test="sort != null">sort,</if>
            <if test="isAuto != null">is_auto,</if>
            <if test="successCount != null">success_count,</if>
            <if test="language != null and language != ''">language,</if>
            <if test="methodNames != null and methodNames != ''">method_names,</if>
            <if test="paramTypes != null and paramTypes != ''">param_types,</if>
            <if test="codeTemplates != null and codeTemplates != ''">code_templates,</if>
            <if test="testCase != null">test_case,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="userId != null">#{userId},</if>
            <if test="level != null">#{level},</if>
            <if test="description != null">#{description},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="tagId != null">#{tagId},</if>
            <if test="hint != null">#{hint},</if>
            <if test="submitCount != null">#{submitCount},</if>
            <if test="sort != null">#{sort},</if>
            <if test="isAuto != null">#{isAuto},</if>
            <if test="successCount != null">#{successCount},</if>
            <if test="language != null and language != ''">#{language},</if>
            <if test="methodNames != null and methodNames != ''">#{methodNames},</if>
            <if test="paramTypes != null and paramTypes != ''">#{paramTypes},</if>
            <if test="codeTemplates != null and codeTemplates != ''">#{codeTemplates},</if>
            <if test="testCase != null">#{testCase},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFengProblem" parameterType="cn.lzscxb.domain.entity.FengProblem">
        update feng_problem
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="level != null">level = #{level},</if>
            <if test="description != null">description = #{description},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="tagId != null">tag_id = #{tagId},</if>
            <if test="hint != null">hint = #{hint},</if>
            <if test="submitCount != null">submit_count = #{submitCount},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="isAuto != null">is_auto = #{isAuto},</if>
            <if test="successCount != null">success_count = #{successCount},</if>
            <if test="language != null and language != ''">language = #{language},</if>
            <if test="methodNames != null and methodNames != ''">method_names = #{methodNames},</if>
            <if test="paramTypes != null and paramTypes != ''">param_types = #{paramTypes},</if>
            <if test="codeTemplates != null and codeTemplates != ''">code_templates = #{codeTemplates},</if>
            <if test="testCase != null">test_case = #{testCase},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFengProblemById" parameterType="Long">
        delete from feng_problem where id = #{id}
    </delete>

    <delete id="deleteFengProblemByIds" parameterType="String">
        delete from feng_problem where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectFengProblemAllIds" resultType="java.lang.Long">
        select id from feng_problem
    </select>
</mapper>